@model HDC.PowerAnalysis.Web.ViewModels.UserUpdatePasswordModel

@{
    ViewBag.Title = "Update Password";
}

<h2>Update Password</h2>

@using (Html.BeginForm("UpdatePassword", "User")) {
	<fieldset>
		<p>
			@Html.LabelFor(x => x.Username)
			@Html.TextBoxFor(x => x.Username, new {@readonly="readonly"})
			@Html.ValidationMessageFor(x => x.Username)
		</p>

		<p>
			@Html.LabelFor(x => x.OldPassword)
			@Html.PasswordFor(x => x.OldPassword)
			@Html.ValidationMessageFor(x => x.OldPassword)
		</p>
		
		<p>
			@Html.LabelFor(x => x.NewPassword)
			@Html.PasswordFor(x => x.NewPassword)
			@Html.ValidationMessageFor(x => x.NewPassword)
		</p>

		<p>
			@Html.LabelFor(x => x.ConfirmNewPassword)
			@Html.PasswordFor(x => x.ConfirmNewPassword)
			@Html.ValidationMessageFor(x => x.ConfirmNewPassword)
		</p>


		<p>
			<button type="submit">Change Password</button>
		</p>
	</fieldset>
}
