@model HDC.PowerAnalysis.Web.ViewModels.ResetUserPasswordViewModel

@{
	ViewBag.Title = "PowerAnalysis: User Administration";
}

<h2>User Administration</h2>

@using (Html.BeginForm("ResetPassword", "Administration")) {
	<fieldset>
		<p>
			@Html.LabelFor(x => x.Username)
			@Html.TextBoxFor(x => x.Username, new {@readonly="readonly"})
		</p>

		<p>
			@Html.LabelFor(x => x.NewPassword)
			@Html.PasswordFor(x => x.NewPassword)
			@Html.ValidationMessageFor(x => x.NewPassword)
		</p>

		<p>
			@Html.LabelFor(x => x.ConfirmNewPassword)
			@Html.PasswordFor(x => x.ConfirmNewPassword)
			@Html.ValidationMessageFor(x => x.ConfirmNewPassword)
		</p>

		<p>
			<button type="submit">Reset Password</button>
		</p>
	</fieldset>
}
